---
import Layout from '../layouts/Layout.astro';
import HomePageApp from '../components/HomePageApp';
---

<Layout title="Rugged - Fitness & Intake Tracking">
  <div id="homepage-app">
    <HomePageApp client:load />
  </div>
</Layout>

<style>
  #homepage-app {
    min-height: 100vh;
  }
</style>

<style>
  /* Add any additional styles here */
</style>
